---
skip_tags: true
branches:
  only:
    - master
image: "Visual Studio 2017"
before_build:
  - ps: ./pull.ps1
build_script:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: ./build.ps1
environment:
  AuthTokenSecure:
    secure: hDmhAYD8sltmvMXgXADCaZeFM/4iJCpo8c24wf/BWvs=
  AccountNameSecure:
    secure: tjnWYxXSiCBP/XN3tEYtKg==
  DOTokenSecure:
    secure: 0y497zzC4fi9jBt6uAXJC6rxNwAf9mIJMeUFAvcinh8lUmVd6OP4FGaEy3wi6/yzXVFO0ucDkgRw7FZN/hoNVEYrmy3UsWgyEp6X91wPgEA=
  SqlPassword:
    secure: NIV0ptxW2A7zvO6jsEZpyZLlfYOdEeZtQvpiROFpeybkPcuG4J+PtAjOPgy+nS0n
version: "0.2.8.{build}"
