---
skip_tags: true
branches:
  only:
    - master
image: "Visual Studio 2017"
before_build:  
  - ps: ./pull.ps1
build_script:
  - ps: ./build.ps1
environment:
  AuthTokenSecure:
    secure: hDmhAYD8sltmvMXgXADCaZeFM/4iJCpo8c24wf/BWvs=
  AccountNameSecure:
    secure: tjnWYxXSiCBP/XN3tEYtKg==
  DigitalOceanToken:
    secure: wgZ+dw54aGo8jJXMNTdE4jB6s673xW9hCzuDwly8RiozEw3J0uJlaMtNJ+GZCkFVXcsEQAPrSCRAUCHDYRoRFV6sK3rtTAkwbt60xUnnpDk=
version: "0.2.8.{build}"